.form-container {
    text-align: center;
    color: var(--darkest-green);
}

.select {
    font-size: 20px;
    font-family: Archivo, sans-serif;
    padding-top: 1rem;
    outline: none;
}

.select select {
    width: 210px;
    padding: 5px;
    border-radius: 5px;
}

.input {
    font-size: 20px;
    font-family: Archivo, sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.input input {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: solid 1px grey;
    font-family: Archivo, sans-serif;
    text-align: center;
    font-weight: 400;
}

.btn {
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 17px;
    transition: transform 0.2s ease;
    padding: 5px;
    margin: 1rem;
    width: 10rem
}

.btn:hover {
    background-color: #F07F8A;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #435058ff;
}

.log-table {
    margin-left: auto;
    margin-top: 1rem;
    border-collapse: collapse;
    margin-right: auto;
    margin: auto;
}

.log-table th,
.log-table td {
    border: 1px solid var(--darkest-green);
}

.log-table th {
    color: var(--white);
    background-color: var(--yellow);
    font-family: 'Archivo';
    font-size: 17px;
    font-weight: normal;
    padding: 1rem;
}

.log-table td {
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    .log-table {
        width: 30%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .log-table th,
    .log-table td {
        padding: 0;
    }
}