.category-img {
    width: 100%;
  }
  .category-text {
    position: relative;
    text-align: left;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 41px;
    width: 100%;
    background-color: rgb(82, 80, 80);
    margin-top: 0px;
  }
  a:link {
    text-decoration: none;
  }
  
  .home-container {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  
  .flex-parent-rm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .flex-child-rm {
    width: 49%;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .flex-parent-rm {
      flex-wrap: wrap;
      margin-top: 5px;
    }
  
    .flex-child-rm {
      width: 100%;
      margin-top: 10px;
    }
  
  }
  