.garden-container {
    background-color: #F6F7EC;
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    padding-bottom: 30px;
    margin-top: 55px;
}

.title {
    width: 90%;
    margin-top: 30px;
}

.tree {
    height: 100px;

}

.tree-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.garden-container h1 {
    margin-top: 5px;
    font-size: 30px;
    color: var(--darkest-green)
}
@media screen and (max-width: 800px) {
    .tree {
        height: 70px;
    }

    .garden-container h1 {
        font-size: 20px;
    }

    .tree-container {
        margin-bottom: 10px;
    }

    .garden-container {
        padding-bottom: 10px;
    }
}
