@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');

.dashboard-container {
    width: 75%;
    margin: auto;
}

.dashboard-container p {
    text-align: center;
    font-family: Archivo, sans-serif;
    margin: 10px;
}

.points {
    margin-top: -5px;
}

.bold {
    font-weight: 800;
}

.title {
    text-align: center;
    margin: auto;
}

.dashboard-container input[type=submit] {
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 14px; 
    transition: transform 0.2s ease;
    width: 100px;
    height: 100%;
    padding: 6px;
    font-family: Archivo, sans-serif;
    margin: auto;
}

.dashboard-container input[type=number] {
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    outline: none;
    border: solid 1px grey;
    font-family: Archivo, sans-serif;
    text-align: center;
}

.center-container {
    text-align: center;
    width: 100%;
}

.set-goal input { 
    margin: 5px;
    display: inline;
    text-align: center;
}

.set-goal { 
    padding-top: 10px;
}

    
.dashboard-container input[type=submit]:hover {
    background-color: #F07F8A;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #435058ff;
}
