@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');

.dashboard-container {
    width: 75%;
    margin: auto;
}

.dashboard-container p {
    text-align: center;
    font-family: Archivo, sans-serif;
    margin: 5px;
}

.progress {
    margin-top: 15px;
    margin-bottom: 10px;
}

.points {
    margin-top: -5px;
}

.bold {
    font-weight: 800;
}

.title {
    text-align: center;
    margin: auto;
}

.dashboard-container input[type=submit] {
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 14px; 
    transition: transform 0.2s ease;
    width: 100px;
    height: 100%;
    padding: 5px;
    margin-left: 5px;
    font-family: Archivo, sans-serif;
}

.dashboard-container input {
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    height: 100%;
    outline: none;
    border: solid 1px grey;
    font-family: Archivo, sans-serif;
    margin-top: 10px;
}

.set-goal {
    margin: auto;
    width: 24%;
    margin-top: 20px;
    margin-bottom: 10px;
}
    
.dashboard-container input[type=submit]:hover {
    background-color: #F07F8A;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #435058ff;
}
