.reward-main-title h1 {
    color: var(--darkest-green);
    font-family: "Archivo Black", sans-serif;
    font-size: 41px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
    word-wrap: break-word;
  }
  
  .reward-main-title p {
    width: 100%;
    margin: auto;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: rgb(221, 218, 172);
  }
  
  .reward-main-title {
    background-color: lemonchiffon;
    width: 100%;
    display: block;
    margin: auto;
  }
  
  @media screen and (max-width: 800px) {
    .reward-main-title p {
      font-size: 17px;
      width: 100%;
    }
  
    .reward-main-title h1 {
      font-size: 35px;
    }
  }
  