.ecosia-search {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.ecosia-search input {
    padding: 0.5rem;
    width: 100%;
    display: inline-block;
    border-radius: 0.5rem;
    border: solid 1.5px lightgrey;
    outline: none;
}

.search-button {
    position: absolute;
    background-color: var(--white);
    border: none;
    color: var(--red);
    transition: transform 0.2s ease;
    padding: 0.45rem;
    right: -0.8rem;
    top: 0.1rem;
}

.search-button:hover {
    color: #F07F8A;
    cursor: pointer;
}