@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
:root {
    --yellow: #DE9E36;
    --red: #EB5160;
    --darkest-green: #0A2E36;
    --medium-green: #54CA90;
    --light-green: #C3EB78;
    --white: #FFFFFF;
}

.sign-in-container h1 {
    color: var(--darkest-green);
    font-family: 'Archivo Black', sans-serif;
    font-size: 41px;
    text-align: center;
    padding-top: 150px;
}

.sign-in-container {
    background-image: url("../../images/sign-in-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    height: 650px;
    width: 400px;
    margin-top: 50px;
    border-radius: 30px;
    border: solid 1.5px lightgrey;
}

.sign-in-container input {
    padding: 10px;
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 1.5px lightgrey;
    outline: none;
    background-color: white; /* having trouble seeing this */
}


.sign-in-container input[type=submit] {
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 17px; 
    transition: transform 0.2s ease;
}

.sign-in-container input[type=submit]:hover {
    background-color: #F07F8A;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #435058ff;
}

.redirect-container {
    text-align: center;
}

.sign-in-container p {
    margin: 3px;
}

.sign-in-container a {
    color: var(--red);
}

@media screen and (max-width: 800px) {
    .sign-in-container {
         width: 295px;
        height: 480px;
    }

    .sign-in-container h1 {
        padding-top: 90px;
        font-size: 30px;
    }
    
}