:root {
    --footer-height: 180px;
}

.footer-container {
    height: var(--footer-height);
    background-color: var(--medium-green);
    width: 100%;
    display: flex;
    bottom: 0;
    margin-top: 50px;
}

.child {
    width: 33%;
}

.footer-container p {
    color: white;
    text-align: center;
    margin-top: -1px;
    font-family: 'Archivo Black', sans-serif;
}

.footer-container img {
    width: 100px;
    margin-top: 30px;
    float: right;
    margin-right: 5px;
}

.footer-container li {
    list-style-type: none;
    color: white;
    margin: 7px;
    font-family: courier;
    font-style: bold;
}

.links-container {
    padding-top: 30px;
}

.media-icons {
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    .center {
        width: 60%;
    }

   .right, .left {
        width: 20%;
    }

    .links-container {
        padding-top: 15px;
    }
}