.impact, .resources {
    width: 100%;
    border-radius: 20px;
}

.home-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

.flex-parent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
}

.flex-child {
    width: 49%;
}

@media screen and (max-width: 900px) {

    .flex-parent {
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .flex-child {
        width: 100%;
        margin-top: 10px;
    }
}