@media screen and (max-width: 1000px) {
    .impact-container {
        width: 100%;
    }
}

.impact-container {
    text-align: center;
    color: var(--darkest-green);
}

.impact-container h1 {
    font-size: 4rem;
}

.impact-container p {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.impact-header {
    background-color: lemonchiffon;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}