.title-container {
    color: var(-darkest-green);
    font-size: 41px;
    background-color: lemonchiffon;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 70px;
    border-radius: 15px;
}

.title-container h1 { 
    margin: 0px;
}

.rewards-container p { 
    font-size: 20px;
    text-align: center;
    margin: 10px;
    text-align: center;
}

.img-parent-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

.img-child {
    width: 25%;
    justify-content: center;
}

.rewards-container img {
    height: 250px;
    margin: auto;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.rewards-container button {
    outline: none;
    border: none;
    background-color: Transparent;
    cursor: pointer; 
    transition: transform 0.2s ease;
    margin: 0px;
}

.rewards-container button:hover {
    transform: translateY(-20px);
    transform: scale(1.2);
}

