@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;400&display=swap');

:root {
    --yellow: #DE9E36;
    --red: #EB5160;
    --darkest-green: #0A2E36;
    --medium-green: #54CA90;
    --light-green: #C3EB78;
    --white: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
}