.reward-item-container h1,
.reward-item-container button {
    display: inline;
}

.reward-item-container button {
    background-color: var(--yellow);
    padding: 5px;
    width: 100px;
    outline: none;
    border: none;
    font-size: 1em;
    margin-left: 20px;
    border-radius: 15px;
}

.reward-item-container h2 {
    margin-bottom: 3px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2em;
    margin: 0px;
    font-weight: 400;
}

.reward-item-container h3 {
    margin-bottom: 3px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2em;
    margin: 0px;
    font-weight: 400;
}

.reward-item-container {
    text-align: center;
    display: flex;
    margin: auto;
    width: 60%;
    height: 40px;
    margin-top: 8px;
}

.child-one {
    width: 50%;
}

.child-two {
    width: 30%;
}

.child-three {
    width: 20%;
}

@media screen and (max-width: 900px) {
    .reward-item-container {
        padding: 15px;
        width: 100%;
        flex-wrap: wrap;
    }
    .child-one {
        width: 35%;
    }
    .child-two {
        width: 30%;
    }
    .child-three {
        width: 25%;
    }
    .reward-item-container h3,
    .reward-item-container h2 {
        font-size: 15px;
    }
    .reward-item-container button {
        padding: 3px;
        font-size: 15px;
        width: 80px;
    }
}